.G{
    color:rgb(54, 47, 193);
}
.O{
    color :rgb(194, 47, 69)
}
.l{
    color:rgb(55, 191, 101)
}
.o{
    color:rgb(202, 208, 32)
}
.g{
    color:rgb(54, 46, 150)
}
.e{
    color:rgb(168, 20, 57)
}